node_modules
**/__screenshots__/
**/.vitest-attachments/
**/build/
**/dist/
.claude/

.env*
.*vars
**/.*vars
.netlify/
.react-router/
.wrangler/

# Ignore editor backup files
**~

## Debug and test files
claude-browse-vibes/*.png
*.sse
test-results/
playwright-report/
playwright/.cache/
coverage/

.DS_Store

**/_wildcard.localhost.vibesdiy.net*
