<!DOCTYPE html>
<html lang="en">
<head>
{{> head}}
</head>
<body>
    <header>
        <a href="https://links.vibes.diy/homepage" class="logo-link">
            <img src="{{assetPrefix}}Vibes-Toggle-1-Transparent.png" alt="Vibes DIY" class="logo-img">
        </a>
    </header>

{{{body}}}

{{> footer}}
</body>
</html>
