@import "tailwindcss";

@theme {
  --color-midnight: #333;
  --color-tahiti: #999;
  --color-bermuda: #ccc;

  --color-light-primary: #333;
  --color-light-secondary: #333;
  --color-light-decorative-00: #eee;
  --color-light-decorative-01: #ddd;
  --color-light-decorative-02: #333;
  --color-light-background-00: #fff;
  --color-light-background-01: #eee;
  --color-light-background-02: #ddd;

  --color-dark-primary: #fff;
  --color-dark-secondary: #fff;
  --color-dark-decorative-00: #333;
  --color-dark-decorative-01: #444;
  --color-dark-decorative-02: #fff;
  --color-dark-background-00: #111;
  --color-dark-background-01: #222;
  --color-dark-background-02: #222;

  --color-accent-00-light: #aaa;
  --color-accent-01-light: #999;
  --color-accent-02-light: #888;
  --color-accent-03-light: #777;

  --color-accent-00-dark: #bbb;
  --color-accent-01-dark: #aaa;
  --color-accent-02-dark: #777;
  --color-accent-03-dark: #666;

  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
